@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('fonts/OpenSans-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('OpenSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}